body {
  background-color: black;
  margin: 30px;
  margin-top: 10px;
}
/*
#content-main {
  display: flex;
  justify-content: center;
}
#spawn-area {
  box-sizing: border-box;
  width: 700px;
  height: 500px;
  border: 5px grey solid;
}
*/
#plane {
  /* position: relative; */
  /* bottom: 50px;
  right: 50px; */
  /* transition: transform .10s linear; */
  width: 50px;
  height: auto;
}
