body {
  background-image: url(emojis/free-grunge-waterlor-stock-background-images--backgrounds-etc-15.jpeg);
  background-size: cover;
  margin: 30px;
  margin-top: 10px;
}
#content-main {
  display: flex;
  justify-content: center;
}
#spawn-area {
  background-image: url(emojis/Dark-color-desktop-backgrounds2.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
  border: 3px grey solid;
  border-radius: 20px;
}
#contentContainer {
  border-radius: 5px;
  border: 10px solid #24248f;
  background-size: 640px 480px;
  background-image: url('emojis/Dark_Colors_Background(www.3DHDWallpaper.com).jpg');
}
h2 {
  color: white;
  margin-bottom: 0;
  /* font-family: 'Berkshire Swash', cursive; */
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
a:hover {
  text-decoration: underline;
}
p:hover {
  color: blue;
  font-family: 'Poppins', sans-serif;
}
p {
  margin-top: 0;
  color: grey;
}
.icon {
  height: 50px;
  width: 50px;
  /* background-color: orange; */
}

#links a {
  display: inline-block;
  color: grey;
  padding: 10px;
  margin: 10px;
}

.link-to-portfolio {
  padding-bottom: 5px;
}
